name: netrafit_glasses
description: "Face Shape Detection & Virtual Glasses Try-On"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  google_mlkit_face_detection: ^0.13.1
  google_mlkit_commons: ^0.11.0
  permission_handler: ^12.0.1
  camera: ^0.11.3
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/